<div class="container">
{{!-- 目前是寫死的假資料，到時要用each渲染出來 --}}
<button type="button" class="btn btn-secondary">Language</button>
<button type="button" class="btn btn-secondary">Programming</button>
<button type="button" class="btn btn-secondary">Health</button>
</div>